TFMY.DailyPractice/TestApp/obj/
TFMY.DailyPractice/YieldDemo/obj/Debug/CoreCompileInputs.cache
TFMY.DailyPractice/YieldDemo/bin/Debug/YieldDemo.exe.config
TFMY.DailyPractice/AsyncAwaitDemo/bin/
TFMY.DailyPractice/AsyncAwaitDemo/obj/
TFMY.DailyPractice/AsyncIO/bin/
TFMY.DailyPractice/AsyncIO/obj/
TFMY.DailyPractice/ConsoleApp1/bin/
TFMY.DailyPractice/ConsoleApp1/obj/
TFMY.DailyPractice/DictionaryDemo/obj/
TFMY.DailyPractice/FMY.DailyPractice.MVCTest/bin/
TFMY.DailyPractice/FMY.DailyPractice.MVCTest/obj/
TFMY.DailyPractice/packages/
TFMY.DailyPractice/GetAwaiter/bin/
TFMY.DailyPractice/GetAwaiter/obj/Debug/
TFMY.DailyPractice/FMY.DailyPractice_10.10.ObservableCollectionDemo/bin/Debug/
TFMY.DailyPractice/FMY.DailyPractice_10.10.ObservableCollectionDemo/obj/
